body {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

:is(html, body) {
  height: 100%;
}

p,
ul {
  margin: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

button {
  border: 0;
  font-size: inherit;
  font-weight: 700;
  /* transition: transform 0.1s linear; */
}
button:hover {
  transform: scale(1.04);
}

button.btn-white {
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 500px;
  background-color: white;
}
button.btn-white:hover {
  background-color: #f6f6f6;
}

:is(.logo, .logo:hover) {
  color: inherit;
}

.logo {
  padding-inline: 24px;
  width: 100%;
  display: block;
  margin-block-end: 18px;
}

.logo .spotify-logo--text {
  max-width: 130px;
  height: 40px;
  vertical-align: initial; /* without this the div height will be less than the original */
}

.grid {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar main main"
    "message message message";
}

nav {
  --subdued: 0.7;

  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: white;
  font-weight: 700;
  padding-block-start: 24px;
  width: 240px;
}

nav > ul > li > a {
  color: inherit;
  height: 40px;
  display: flex;
  gap: 1rem;
  align-items: center;
  opacity: var(--subdued);
  transition: opacity 0.2s linear;
}

nav > ul > li > a:is(:focus, :hover, .active) {
  color: inherit;
  opacity: 1;
}

nav > ul > li > a > span {
  font-size: 14px;
}

nav .icon-box {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .icon-box.plus {
  color: #000;
  background-color: #f8f8f8;
}
nav .icon-box.heart {
  color: inherit;
  background-image: linear-gradient(135deg, #450af5, #c4efd9);
}

nav > ul:nth-of-type(2) {
  flex: 1;
}

nav .policies {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.6;
  margin-block: 32px;
}

nav .policies a {
  color: inherit;
  line-height: 25.6px;
  opacity: var(--subdued);
}

nav .policies a:hover {
  text-decoration: underline;
}

nav .notification {
  --blue: #0c72ea;
  position: absolute;
  background-color: var(--blue);
  max-width: 336px;
  min-width: 300px;
  inset: 0px auto auto 0px;
  padding: 16px;
  border-radius: 0.3em;
  transform: translate3d(173px, 169px, 0);
  animation: fade-in-out 1s both;
  z-index: 2;
}

nav li:nth-of-type(3):hover .notification {
  animation: none;
}

nav .notification::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 18px;
  left: -7px;
  border-style: solid;
  border-width: 7px 7px 7px 0px;
  border-color: transparent var(--blue) transparent transparent;
}

nav .notification h4 {
  font-size: 18px;
  font-weight: 700;
}

nav .notification p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    pointer-events: auto;
    display: block;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

@keyframes restart {
  0% {
    display: block;
  }
  5% {
    opacity: 0;
    display: none;
  }
}

main {
  color: white;
  min-height: 100px;
  min-width: 500px;
  grid-area: main;
  background-color: #121212;
  background-image: linear-gradient(180deg, #222222, transparent 300px);
}

header {
  font-size: 1rem;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0 0 0 / 0.5);
  height: 64px;
}

header .arrows {
  display: flex;
  align-items: center;
}

header .arrows span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: black;
  margin-right: 16px;

  cursor: not-allowed;
}

header .arrows span:nth-of-type(2) {
  opacity: 0.6;
}

header ul {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

header ul li {
  opacity: 0.6;
  transition: opacity 0.1s linear;
  cursor: default;
  padding-block: 14px;
}

header ul li.divider {
  width: 2px;
  height: 32px;
  background-color: white;
}

header ul li:where(:hover, .divider, .btn-list) {
  opacity: 1;
}

header ul li:not(.btn-list):hover {
  transform: scale(1.04);
}

.main-content {
  padding-inline: 32px;
  padding-block-start: 24px;
  overflow-y: auto;
  height: calc(100% - 64px);
}

.main-content .title-section {
  margin-block-end: 16px;
}

.main-content h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: none;
  letter-spacing: -0.04em;
  margin: 0;
}

.main-content h2 + p {
  color: #a7a7a7;
  font-size: 14px;
  font-weight: 400;
}

.main-content .section-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #b3b3b3;
}

.music-card {
  padding: 16px;
  background-color: #181818;
  border-radius: 0.3rem;
  position: relative;
  transition: background-color 0.3s ease;
}

.music-card:hover {
  background-color: #282828;
}

.music-card .play-btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  block-size: 48px;
  inline-size: 48px;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
  pointer-events: none;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.3s ease;
}

.music-card:hover .play-btn {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}

.music-card .img-wrapper {
  margin-bottom: 16px;
  position: relative;
}

.music-card .img-wrapper img {
  border-radius: 0.3rem;
}

.music-card p {
  font-size: 14px;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #a7a7a7;
}

.footer-div a {
  display: block;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.6;
  margin-block: 8px;
  transition: opacity 0.1s linear;
}

.footer-div a:hover {
  opacity: 1;
}

.footer-div div.rounded-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #292929;
  flex-shrink: 0;
}

.footer-div div.rounded-circle:hover {
  background-color: #727272;
}

.footer-div hr {
  margin-block-start: 40px;
  margin-block-end: 40px;
  border-color: #a7a7a7;
}

.footer-div .bottom-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-div .bottom-links :where(a, span) {
  font-size: 14px;
  opacity: 0.6;
  font-weight: 300;
}

.footer-div .bottom-links a {
  font-size: 14px;
  display: inline-block;
  margin-inline-end: 16px;
}

footer {
  grid-area: message;
}

footer {
  color: white;
  grid-area: message;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #af2896;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  padding: 11px 24px 7px 15px;
  border-top: 1px solid #282828;
}

footer p:first-of-type {
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer p:nth-of-type(2) {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
}

footer > div {
  margin-inline-start: 24px;
}

footer button {
  white-space: nowrap;
}
